- content_for :title, "Login"
.container.content
  .row
    .span4.offset4
      %h2 Login
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
        = f.input :email, :autofocus => true, input_html: {class: "input-block-level"}
        = f.input :password, input_html: {class: "input-block-level"}
        = f.button :submit, "Sign in", :class => 'btn btn-block btn-large btn-primary'
      = render "devise/shared/links"
