= link_to "Home Brewster", current_user ? content_path : root_path, :class => 'site-logo'
%ul.site-nav.pages-nav
  - unless current_user
    %li
      = nav_link 'Pricing', new_user_registration_path
  %li
    = nav_link 'Blog', '#'

  %li
    = nav_link 'FAQ', "#"

%ul.site-nav.pull-right
  %li
    = nav_link 'Login', new_user_session_path, class: "discrete"
  %li
    %strong
      = link_to 'Reserve Your Spot!', new_user_registration_path, class: "btn btn-success btn-eye-catcher"

